<p id="notice"d><% notice %></p>

<h1>Bookstores</h1>

<%= @bookstores.each do |bookstore| %>
  <p><%= bookstore.name %></p>
  <p><%= bookstore.description %></p>
  <p><%= bookstore.latitude %></p>
  <p><%= bookstore.longitude %></p>

<% end %>

