<p id="notice"><%= notice %></p>

<h1>Bookstores</h1>

<%= link_to 'New Bookstore', new_bookstore_path %>

<% @bookstores.each do |bookstore| %>
  <tr>
    <h2><%= link_to bookstore.name, bookstore_path(bookstore) %></h2>
    <p><%= bookstore.description %></p>
    <p><%= bookstore.latitude %></p>
    <p><%= bookstore.longitude %></p>
    <%= link_to 'Edit', edit_bookstore_path(bookstore) %>
    <%= link_to 'Delete', bookstore_path(bookstore), method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
